.home-container {
    margin-top: 10%;
}

.terminal-container {
    max-width: 800px;
    margin: auto;
}

.terminal {
    text-align: left;
    border-style: solid;
    border-width: 2px;
    border-radius: 16px;
    display: flex;
    align-items: center;

    .terminal-text {
        margin-left: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

.terminal-dark {
    border-color: white;
    background: rgba(0, 0, 0, .9);

    .username { color: rgb(30, 118, 190); }
    .token { color: rgb(17, 192, 183); }
    .host { color: rgb(49, 165, 26); }
}

.terminal-light {
    border-color: black;
    background: rgba(214, 214, 214, 0.9);

    .username {
        color: rgb(15, 68, 112);
        font-weight: bold;
    }
    .token {
        color: rgb(126, 34, 27);
        font-weight: bold;
    }
    .host {
        color: rgb(25, 92, 11);
        font-weight: bold;
    }
}
