
<div style="padding-top: 50px; text-align: center; width: 100%; margin: auto;">
    <h1 class="mat-h1">Blog Entries</h1>

    <ng-container *ngIf="ready; else notReady">
        <mat-form-field style="width: 100%; margin: 10px;" @fadeIn>
            <mat-label>Filter</mat-label>
            <input matInput #input>
        </mat-form-field>


        <mat-chip-list
            class="tags-list"
            @fadeInTags
            [selectable]="true"
            [multiple]="true"
        >
            <mat-chip
                class="no-select"
                style="text-align: center;"
                *ngFor="let tag of tags"
                [selectable]="true"
                (click)="select(tag.name)"
                [selected]="filterTags[tag.name] ? filterTags[tag.name] : false"
            >{{tag.name}}</mat-chip>
        </mat-chip-list>

    </ng-container>
    <ng-template #notReady>
        <mat-spinner style="margin: auto;"></mat-spinner>
    </ng-template>
</div>