<div class="bio-container">
    <div class="intro-container">
        <div class="circle-wrapper" style="background-image: url('assets/images/profile-pic.jpg');"></div>
        <div style="max-width: 500px">
            <h1 class="mat-h1 greeting">Hi! I'm Carlos, Software Engineer</h1>
            <p>
                Based in San Diego, I am specialize in full stack development 
                building highly scalable applications. 
                Welcome to my techblog, I will post my latest projects, tutorials, 
                and thoughts on current tech-related news / events / trends.
            </p>
        </div>
    </div>
</div>