.home-container {

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    height: 600px;
    width: 100%;
    
}

.home-container-mobile {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
    padding-top: 50px;
    margin: auto;
    height: 600px;
    width: 100%;
}

.blog-update-container {
    padding-top: 20px;
    padding-bottom: 100px;
    text-align: center;
    .blog-entry:hover  {
        cursor: pointer;
    }
    
    mat-card-content {
        margin-left: 16px;
    }

    mat-card-footer {
        font-size: small;
        margin-left: 16px;
    }
}

.error-no-blogs {
    width: 100%;
    margin: auto;
    text-align: center;
}

.logo-icon {
    height: 200px;
    width: 200px;
    text-align: center;
}

.logo-icon-mobile {
    height: 100px;
    width: 100px;
    text-align: center;
}

a, a:visited, a:hover, a:active {
    color: inherit;
}

.link-bar {
    font-size: 30px;
    margin:auto;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
    justify-self: center;
    
    .link-icon-container {
        min-width: 300px;
        display: flex;
        justify-content: space-evenly;
    }
}
