<div [@bounce]="{value: screenCheckComplete}" [ngClass]="{ 'home-container': !isMobileSize, 'home-container-mobile': isMobileSize}">
        <div>
            <div style="max-width: 500px">
                <h1 class="mat-h1 greeting">Hi! I'm Carlos, Software Engineer</h1>
                <p>
                    Based in San Diego, I am specialize in full stack development 
                    building highly scalable applications. 
                    Welcome to my techblog, I will post my latest projects, tutorials, 
                    and thoughts on current events.
                </p>
            </div>
        </div>
        <div [ngClass]="{'logo-icon': !isMobileSize, 'logo-icon-mobile': isMobileSize}" style="width: 50%; text-align: center;">
            <mat-icon [svgIcon]="'logo-styled-gradient'" [inline]="true"></mat-icon>
        </div>
</div>

<mat-divider></mat-divider>

<div class="blog-update-container">

    <h2 class="mat-h3">Latest Blog Entries</h2>
    <ng-container *ngIf="blogEntriesComplete">
        <div @fadeInUp>
            <div *ngFor="let blogUpdate of blogUpdates">
                <app-blog-entry [blogEntry]="blogUpdate"></app-blog-entry>
            </div>
        </div>
    </ng-container>
</div>
