<div 
    [ngClass]="{ 'home-container': !isMobileSize, 'home-container-mobile': isMobileSize}"
    >
        <div>
            <div style="max-width: 500px">
                <h1 class="mat-h1 greeting">Hi! I'm Carlos, Software Engineer</h1>
                <p>
                    Based in San Diego, I specialize in full stack development,
                    building highly scalable applications. 
                    Welcome to my techblog, I will post my latest projects, tutorials, 
                    and thoughts on current tech-related news / events / trends.
                </p>
            </div>
        </div>
        <div [ngClass]="{'logo-icon': !isMobileSize, 'logo-icon-mobile': isMobileSize}" style="width: 50%; text-align: center;">
            <mat-icon [svgIcon]="'logo-styled-gradient'" [inline]="true"></mat-icon>
        </div>
</div>

<div class="link-bar">
    <div class="link-icon-container">
        <ng-container *ngFor="let link of links">
            <a [href]="link.url" target="_blank" class="noselect">
                <fa-icon [icon]="['fab', link.faIcon ]"></fa-icon>
            </a>
        </ng-container>
    </div>
</div>

<mat-divider></mat-divider>

<div class="blog-update-container">

    <h2 class="mat-h3">Latest Blog Entries</h2>
    <ng-container *ngIf="blogEntriesComplete; else waitingForBlogs">
        <div class="blog-posts" @fadeInUp *ngIf="blogUpdates !== null && blogUpdates.length !== 0; else noBlogs">
            <div *ngFor="let blogUpdate of blogUpdates">
                <app-blog-banner
                    [blogPost]="blogUpdate"
                ></app-blog-banner>
            </div>
        </div>
        <ng-template #noBlogs>
            <div @fadeInUp class="error-no-blogs">
                <h3 class="mat-h3" *ngIf="blogUpdates == null">Error retrieving blogs, try again later</h3>
                <h3 class="mat-h3" *ngIf="blogUpdates != null">No Blogs published at this time</h3>
            </div>
        </ng-template>
    </ng-container>
    <ng-template #waitingForBlogs>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </ng-template>
</div>
