<div class="home-container" [ngClass]="{'home-container-mobile': isMobileSize}">
        <div>
            <h1 class="mat-h1 greeting">Hi! I'm Carlos, Software Engineer</h1>
            <p>
                Based in San Diego, I am specialize in full stack development
                building highly scalable applications.
            </p>
        </div>
        <div [ngClass]="{'logo-icon': !isMobileSize, 'logo-icon-mobile': isMobileSize}">
            <mat-icon [svgIcon]="'logo'" [inline]="true"></mat-icon>
        </div>
</div>

<div class="blog-update-container">

    <div class="blog-entry" *ngFor="let blogUpdate of blogUpdates">
        <mat-card>
            <mat-card-header>
                <mat-card-title>{{blogUpdate.title}}</mat-card-title>
                <mat-card-subtitle>{{blogUpdate.published_at}}</mat-card-subtitle>
            </mat-card-header>
        </mat-card>
    </div>

</div>