<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav [mode]="'over'">
    <p>stuff here</p>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="main">
      <button mat-icon-button *ngIf="mobileSize" (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>

      <div>cchulo logo placeholder</div>

      <nav mat-tab-nav-bar *ngIf="!mobileSize">
        <a mat-tab-link
            *ngFor="let link of links"
            [routerLink]="link.path"
        >{{link.label}}</a>
      </nav>
      
      <button mat-icon-button (click)="toggleTheme()">
        <mat-icon>bedtime</mat-icon>
      </button>
    </div>

    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
