
// source: https://stackoverflow.com/a/46760925
@use '@angular/material' as mat;

// Define a custom mixin that takes in the current theme
@mixin theme-color-grabber($theme) {
    // Parse the theme and create variables for each color in the pallete
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    // Create theme specfic styles
    .primaryColorBG {
      background-color: mat.get-color-from-palette($primary);
    }
    .accentColorBG {
      background-color: mat.get-color-from-palette($accent);
    }
    .warnColorBG {
      background-color: mat.get-color-from-palette($warn);
    }
}
