

$light-primary: mat-palette($mat-blue-grey);
$light-accent: mat-palette($mat-light-blue, A200, A100, A400);
$light-warn: mat-palette($mat-red);


$light-theme: mat-light-theme((
  color: (
    primary: $light-primary,
    accent: $light-accent,
    warn: $light-warn,
  )
));