$iconSize: 100px;

.blog-entry:hover {
    cursor: pointer;
}

.blog-entry {
    display: flex;
    border: 1px solid;
    border-radius: 4px;
    .push {
        margin-left: auto;
    }
    .detail {
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-right: 20px;
        
    }
    .circle-wrapper {
        min-height: $iconSize;
        min-width: $iconSize;
        height: $iconSize;
        width: $iconSize;
        overflow: hidden;
        border-radius: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        align-self: center;
        margin-left: 20px;
    }
}

mat-card-content {
    margin-left: 16px;
}

mat-card-footer {
    font-size: small;
    margin-left: 16px;
}
