::ng-deep .mat-chip-list-wrapper {
    justify-content: center !important;
}


.tags-list {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 5px;
    padding-bottom: 10px;
}
