@import '~normalize.css';
@import '~@angular/material/theming';

@include mat-core();

$custom-typography: mat-typography-config(
  $font-family: 'Roboto, monospace',
  $headline: mat-typography-level(36px, 52px, 700),
  $body-1: mat-typography-level(20px, 28px, 500)
);

@include mat-core($custom-typography);

$ClientApp-primary: mat-palette($mat-blue-grey);
$ClientApp-accent: mat-palette($mat-light-blue, A200, A100, A400);
$ClientApp-warn: mat-palette($mat-red);


$ClientApp-theme: mat-dark-theme((
  color: (
    primary: $ClientApp-primary,
    accent: $ClientApp-accent,
    warn: $ClientApp-warn,
  )
));

@include angular-material-theme($ClientApp-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; }
