@import '~normalize.css';
@import '~@angular/material/theming';
@import 'themes/theme-color-grabber.scss';
@import 'themes/dark-theme.scss';
@import 'themes/light-theme.scss';

@include mat-core();

$custom-typography: mat-typography-config(
  $font-family: 'Roboto, monospace',
  $headline: mat-typography-level(26px, 42px, 700),
  $body-1: mat-typography-level(16px, 22px, 500)
);

@include mat-core($custom-typography);

.dark-theme {
  @include theme-color-grabber($dark-theme);
  @include angular-material-theme($dark-theme);
}

.light-theme {
  @include theme-color-grabber($light-theme);
  @include angular-material-theme($light-theme);
}

/* You can add global styles to this file, and also import other style files */

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

html, body { height: 100%; }
body { margin: 0; }

.ng-scroll-content {
  height: 100% !important;
  width: 100% !important;
}


.override {
  display: flex;
  flex-direction: column;
  margin: 20px;
  .img-helper {
    width: 100%;
    height: auto;
  }
}