@import '~normalize.css';
@import '~@angular/material/theming';

@include mat-core();

$custom-typography: mat-typography-config(
  $font-family: 'Roboto, monospace',
  $headline: mat-typography-level(36px, 52px, 700),
  $body-1: mat-typography-level(20px, 28px, 500)
);

@include mat-core($custom-typography);

$light-primary: mat-palette($mat-blue-grey);
$light-accent: mat-palette($mat-light-blue, A200, A100, A400);
$light-warn: mat-palette($mat-red);


$light-theme: mat-light-theme((
  color: (
    primary: $light-primary,
    accent: $light-accent,
    warn: $light-warn,
  )
));

$dark-theme: mat-dark-theme((
  color: (
    primary: $light-primary,
    accent: $light-accent,
    warn: $light-warn,
  )
));

.dark-theme {
  @include angular-material-theme($dark-theme);
}

@include angular-material-theme($light-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; }
